{% set active_page = active_page|default('homepage') %}
{% block navigation %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ baseUrl() }}">Metadata Catalog<sup class="text-danger"> BETA</sup></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                {% for item in app.config.nav %}
                <li {% if item.path == active_page %} class="active"{% endif%}>
                    <a href="{{ path(item.path) }}"> <span class="glyphicon glyphicon-{{item.icon}}" aria-hidden="true"></span> {{item.title}} </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    {% if path is defined %}
    <li>
        <a href="{{ path('homepage') }}">Home</a>
    </li>
    {% for slug, title in path %}
    {% if loop.last %}
    <li class="active">
        {{ title[0] }}
    </li>
    {% else %}
    <li>
        <a href="{{ path(slug) }}">{{ title[0] }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% else %}
    <li class="active">
        Home
    </li>
    {% endif %}
</ol>
{% endblock %}