<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> ID </th>
            <th> Title </th>
            <th colspan="3" class="text-center"> Metadata Link </th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td> {{ row.id }} </td>
            <td> {{ row.title }} </td>
            <td class="text-center"><a href="{{ path(active_page) }}{{ row.id }}.json">mdJSON</a></td>
            <td class="text-center"><a href="{{ path(active_page) }}{{ row.id }}.xml">ISO 19115-2</a></td>
            <td class="text-center"><a href="{{ path(active_page) }}{{ row.id }}.html">HTML</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>