{% if not geo is empty %}
<div class="col-md-12 ">
  <div class="panel panel-default">
    <div class="panel-heading collapsible" data-target="#collapse-map" data-toggle="collapse">
      <h4 class="panel-title">
        <span>Map</span>
      </h4>
    </div>
    <div class="panel-collapse collapse in" id="collapse-map">
      <div class="panel-body container-fluid">
        <div class="row">
          <ul class="nav nav-pills nav-stacked col-sm-3" role="tablist">
            {% for el in geo %}
            {% set id = 'geo-' ~ loop.index0 %}
            <li class="{{ loop.first ? 'active' }}" role="presentation">
              <a aria-controls="{{ id }}" data-toggle="pill" href="#{{ id }}" role="tab">
                {{ el.description ?: 'Extent ' ~ loop.index0 }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="tab-content col-sm-9">
            {% for el in geo %}
            {% set id = 'geo-' ~ loop.index0 %}
            <div class="tab-pane tab-map fade {{ loop.first ? 'active in' }}" id="{{ id }}" role="tabpanel"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
