{% if resource.pointOfContact is not empty %}
<dl class="dl-horizontal">
    <dt>
        Point of Contact(s)
    </dt>
    <dd>
    {% for poc in resource.pointOfContact %}
    {% set contact = attribute(contacts, '_' ~ poc.contactId) %}
        <address>
          {{ (contact.individualName ? "<strong>#{contact.individualName}</strong><br>")|raw }}
          {{ (contact.positionName ? "<strong>#{contact.positionName}</strong><br>")|raw }}
          {{ (contact.organizationName ? "<strong>#{contact.organizationName}</strong><br>")|raw }}
              {% for dp in contact.address.deliveryPoint %}
                {{ dp }}<br>
              {% endfor %}
          {{ (contact.address.city and contact.address.administrativeArea) ? "%s, %s %s <br/>"|format(contact.address.city, contact.address.administrativeArea, contact.address.postalCode)|raw }}
          {% for ph in contact.phoneBook %}
            {% if ph.service is defined %}
            {% set abbr = null %}
            {% for service in ph.service %}
                {% set abbr = abbr ? abbr ~ '/' ~ service|first : service|first %}
            {% endfor %}
            <abbr title="{{ (ph.service|join(', '))|title }}">{{ abbr|upper }}:</abbr> {{ ph.phoneNumber }}
            {% else %}
            <abbr title="Phone">P:</abbr> ph.phoneNumber
            {% endif %}
          {% endfor %}<br/>
          {{ (contact.address.electronicMailAddress is not empty ? "<a href=\"mailto:#{contact.address.electronicMailAddress|first}\">#{contact.address.electronicMailAddress|first}</a><br/>")|raw }}
          {{ (contact.onlineResource is not empty ? "<a href=\"#{(contact.onlineResource|first).uri}\">#{(contact.onlineResource|first).uri}</a>")|raw }}
        </address>
    {% endfor %}
    </dd>
</dl>
{% endif %}