{% if resource.pointOfContact is not empty %}
<dl class="dl-horizontal">
    <dt>
        Point of Contact(s)
    </dt>
    <dd>
    {% for con in resource.pointOfContact %}
    {% for poc in con.party %}
        {% set contact = attribute(contacts, '_' ~ poc.contactId) %}
        {% set address = contact.address|first %}
        <address>
          {{ ("<strong>#{contact.name}</strong><br>")|raw }}
          {{ (contact.positionName ? "<em>#{contact.positionName}</em><br>")|raw }}
          {# {{ (contact.organizationName ? "<strong>#{contact.organizationName}</strong><br>")|raw }} #}
              {% for dp in address.deliveryPoint %}
                {{ dp }}<br>
              {% endfor %}
          {{ (address.city and address.administrativeArea) ? "%s, %s %s <br/>"|format(address.city, address.administrativeArea, address.postalCode)|raw }}
          {% for ph in contact.phone %}
            {% if ph.service is defined %}
            {% set abbr = null %}
            {% for service in ph.service %}
                {% set abbr = abbr ? abbr ~ '/' ~ service|first : service|first %}
            {% endfor %}
            <abbr title="{{ (ph.service|join(', '))|title }}">{{ abbr|upper }}:</abbr> {{ ph.phoneNumber }}
            {% else %}
            <abbr title="Phone">P:</abbr> ph.phoneNumber
            {% endif %}<br/>
          {% endfor %}
          {{ (contact.electronicMailAddress is not empty ? "<a href=\"mailto:#{contact.electronicMailAddress|first}\">#{contact.electronicMailAddress|first}</a><br/>")|raw }}
          {{ (contact.onlineResource is not empty ? "<a href=\"#{(contact.onlineResource|first).uri}\">#{(contact.onlineResource|first).uri}</a>")|raw }}
        </address>
    {% endfor %}
    {% endfor %}
    </dd>
</dl>
{% endif %}
