<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title '' %} - Metdata Catalog</title>

        <link rel="apple-touch-icon" sizes="57x57" href=" {{ asset('favicon/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href=" {{ asset('favicon/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href=" {{ asset('favicon/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href=" {{ asset('favicon/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href=" {{ asset('favicon/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href=" {{ asset('favicon/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href=" {{ asset('favicon/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href=" {{ asset('favicon/apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href=" {{ asset('favicon/apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" href=" {{ asset('favicon/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href=" {{ asset('favicon/android-chrome-192x192.png') }}" sizes="192x192">
        <link rel="icon" type="image/png" href=" {{ asset('favicon/favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href=" {{ asset('favicon/favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href=" {{ asset('favicon/manifest.json') }}">
        <link rel="shortcut icon" href=" {{ asset('favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{{ asset('favicon/mstile-144x144.png') }}">
        <meta name="msapplication-config" content="{{ asset('favicon/browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheet %}
        {% stylesheets
        filter='lessphp,csscopyfile, ?cssmin, ?csscompress'
        'vendor/twbs/bootstrap/less/bootstrap.less'
        'vendor/saxulum/saxulum-bootstrap-provider/src/Saxulum/SaxulumBootstrapProvider/Resources/less/form.less'
        'assets/css/main.less'
        output='css/mc.css'
        %}
        <link rel="stylesheet" href="/assets{{ asset( asset_url )}}" />
        {% endstylesheets %}
        {% endblock stylesheet %}

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% include 'includes/header.html.twig' %}
                </div>
            </div>
            {% block content %}{% endblock %}
            {% block javascript %}
            {% javascripts
            filter='?jsmin'
            'vendor/jquery/jquery/*.js'
            'vendor/twbs/bootstrap/js/collapse.js'
            'vendor/twbs/bootstrap/js/transition.js'
            output='js/mc.js'
            %}
            <script type="text/javascript" src="/assets{{ asset( asset_url )}}"></script>
            {% endjavascripts %}
            {% endblock javascript %}
        </div>
    </body>
</html>
